* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
body, html {
	margin: 0;
	height: 100%;
}
body {
	background-color: #36044A;
	background-image: url("../cool-background.png");
	background-size: cover;
	background-repeat: no-repeat;
}
/* Main Content 
-------------------------------------------------- */

.container {
	/* max-width: 960px; */
	height: 100%;
}
section {
	margin: 40px 20px;
}
.animal-div {
	display: inline-flex;
}
/* Copy element Styles 
  -------------------------------------------------- */

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #fff;
	border-bottom: 2px solid #ccc;
}
h2 {
	font-size: 1.5em;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: rgb(117, 10, 204);
}
.jumbotron {
	background-color: inherit;
	margin-bottom: 0px;
}
a:link {
	color: #ccc;
	text-decoration: none;
}
a:active, a:hover, a:visited {
	color: #4eaaa5;
	text-decoration: none;
}
p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	color: #777;
	line-height: 1.5em;
}
.card {
  margin: 20px;

}
.card-body {
	padding: 1.25rem;
	position: absolute;
	bottom: 20px;
  min-width: 18rem;
  height:200px;
}
img:hover {
	filter: brightness(120%);
}
/* Form 
-------------------------------------------------- */


.btn {
	color: #fff;
	margin: 10px;
	color: #ffffff;
	background-color: #611BBD;
	border-color: #130269;
	font-weight: 400;
	text-align: center;
	padding: .5rem 2.2rem;
	font-size: 1.2rem;
	font-weight: 800px;
	line-height: 1;
}
.btn:hover, .btn:focus, .btn:active, .btn.active {
	color: #ffffff;
	background-color: #49247A;
	border-color: #130269;
	box-shadow: 0 0 0 0rem rgba(73, 36, 122, .25);
}
.btn-secondary {
	color: #ffffff;
	background-color: #64BD1B;
	border-color: #fff;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
	color: #ffffff;
	background-color: #3C7A24;
	border-color: #176902;
}
/* fancy form*/

input {
	border: none;
}
button:focus {
	outline: none;
}
form-control::placeholder {
	color: #6c757d;
	font-family: Roboto, sans-serif;
	opacity: 1;
}
.form-control::-webkit-input-placeholder {
	color: #6c757d;
	opacity: 1;
	font-family: Roboto, sans-serif;
}
input:-webkit-autofill {
	background-color: rgb(212, 252, 200) !important;
}
.spacing {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: 90px;
	font-weight: 300;
	text-align: center;
	margin-top: 10px;
	color: rgba(255, 255, 255, 0.65)
}
.input-line:focus {
	outline: none;
	border-color: #fff;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}
.ghost-round {
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 25px;
	color: rgba(255, 255, 255, 1);
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	font-size: 19px;
	font-size: 1.2rem;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: auto;
	margin-bottom: 25px;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}
.ghost-round:hover {
	background: rgba(240, 58, 179, 0.15);
	color: #fff;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}
.input-line {
	background-color: #fff;
	margin-bottom: 10px;
	line-height: 2.4em;
	color: #fff;
	font-family: roboto;
	font-weight: 300;
	letter-spacing: 0px;
	letter-spacing: 0.02rem;
	font-size: 19px;
	font-size: 1.2rem;
	border-bottom: 1px solid #fff;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}
.input-fields {
	margin-top: 25px;
}
.gradient {
	background: #fcf9fa;
	/* Old browsers */
	background: -moz-linear-gradient(-45deg, #fcf9fa 0%, #7300a8 100%, #db36a4 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #fcf9fa 0%, #7300a8 100%, #db36a4 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #fcf9fa 0%, #7300a8 100%, #db36a4 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf9fa', endColorstr='#db36a4', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}

@media (max-width: 480px) {
	.container {
    width: 100% !important;
    min-width:330px!important;
  }
  
  .mobile-padding {

  padding-left: 10px !important;
  padding-right:10px !important;  
  }


}